* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.25s all ease;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #0188a5;
}

/* div {
    outline: 1px solid red;
} */